body {

    font-family: Arial, sans-serif;

    margin: 20px;

    padding: 20px;

    background-color: #f7f7f7;

}

#informacoes {
    /*Mantém a formatação de espaços e quebras de linha no conteudo, util para exibir texto formatado como JSON*/
    white-space: pre-wrap;

    background-color: #fffc61;

    padding: 10px;

    border-radius: 5px;

    font-size: 16px;

    color: #333333;

}

button {

    padding: 10px 20px;

    font-size: 16px;

    background-color: #4CAF50;

    color: white;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

button:hover{

    background-color: #1b0763;

    color: #ffffff;

}



