body, html {

    margin: 0;

    padding: 0;

    height: 100%;

    display: flex;

}

#menu {

    background-color: #333;

    color: #fff;

    width: 200px;

    height: 100vh;

    padding: 20px;

    box-sizing: border-box;

    overflow-y: auto;

}
/*Alinha o menu*/
#menu h3 {

    margin-top: 0;

}

#menu ul {
    /*Remove marcadores padrões como pontos, círculos etc.*/
    list-style: none;

    padding: 0;

}
/*Seleciona todos os elementos <a> (links) dentro dos itens da lista (<li>) que estão dentro de uma lista <ul> no menu*/
#menu ul li a {

    color: #fff;
    /*Remove o sublinhado padrão do texto dos links*/
    text-decoration: none;

    padding: 10px 0;
    /*Faz o link ocupar todo o espaço disponivel*/
    display: block;

}

#menu ul li a:hover {
    /*Coloca o efeito de mudar de cor quando o mouse passa por cima*/
    background-color: #555;

}

#conteudo {

    flex-grow: 1;

    padding: 20px;

    overflow-y: auto;

}

#texto {

    font-size: 24px;

    margin: 20px 0;

    border: 1px solid #ddd;

    padding: 20px;

    border-radius: 5px;

    background-color: #f9f9f9;

}

#entrada {

    font-size: 18px;

    width: 80%;

    padding: 10px;

    margin: 20px 0;

    border-radius: 5px;

    border: 1px solid #200d8a;

}

#estatisticas, #tempo {

    font-size: 18px;

    margin: 10px 0;

}

.certo {

    color: green;

}

.errado {

    color: red;
}